
@use '_font-variables' as fontVar;
@import "./mixins.scss";

.footerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: popReg;
    width: 100%;
    padding: fontVar.$em4 0px;
    margin-top: fontVar.$em5;
    height: fit-content;
    
    p {
        span {

            font-family: popBlack;
        }
    }


    .addBox {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: fontVar.$em5;


        .tit {
            font-family: popBlack;
            font-size: fontVar.$fs3;
            margin: 0px;
        }

        .email {
            font-family: popBlack;
        }

        p {
            span {

                font-family: popBlack;
            }
        }

        .telBox {

            display: flex;
            flex-direction: column;
            height: 100%;
            border-left: 3px solid black;
            padding-left: fontVar.$em4;
            flex-grow: 1;

            p {
                font-family: fontVar.$fs3;
                margin: 0px;

                &:hover {

                    color: var(--rojOscPfd);
                }

                a {

                    text-decoration: none;
                }

                span {

                    font-family: popBlack;
                }
            }
        }
    }

    .rigBox {

        display: flex;
        align-items: center;
        gap: fontVar.$em2;
        height: 100%;

        .box {

            width: 50px;
            height: 100px;
            background-color: rgb(157, 10, 10);
            display: flex;
            justify-content: center;
            align-items: center;
    
        }
        
    }
}

@include mobile {

    .footerWrapper {

        flex-direction: column;
        gap: fontVar.$em3;

        .addBox {

            width: 100%;
            flex-direction: column;

            .titBox {

                width: 100%;

                p {
                    font-family: fontVar.$fs3;

                    span {

                        font-family: popBlack;
                    }
                }
                
            }

            .telBox {

                width: 100%;
                padding: 0px;
                border: none;
            }
        }

        .rigBox {

            width: 100%;
            justify-content: start;


            p {
                order: 2;
            }

            .box {

                order: 1;
                height: 30px;
            }
            
        }
    }
}