@use '_font-variables' as fontVar;
@import "./mixins.scss";


.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: fontVar.$em5;
    padding-bottom: fontVar.$em5;
    color: var(--negPfd);
    font-family: popReg;
    margin-bottom: fontVar.$em4;
    width: 100%;

  
    .imgBox {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: fontVar.$em3;

        .title {

            font-size: fontVar.$fs6;
            color: var(--negPfd);
            font-family: popBlack;
          
        }
        p {
            font-size: fontVar.$fs3;
        }

        img {
    
            height: 70px;
            width: auto;
        }
    }

    .butBox {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: fontVar.$em4;

        a {

            all: unset;
            cursor: pointer;
            font-family: popBlack;

            &:hover {
                color: var(--rojOscPfd);
                font-size: fontVar.$fs3;
            }
        }
    }


}
@include mobile {
        
    .mainHeader {

        flex-direction: column;

       .imgBox {

        flex-direction: column;
        align-items: start;
        width: 100%;
        gap: fontVar.$em1;

        .title {

            margin: 0px;
            line-height: fontVar.$em3;
        }

        img {
    
            height: 50px;
            width: auto;
        }

        p {
            margin: 0px;
        }
       }

       .butBox {

        display: none;
       }
        
    }
}
 