@use '_font-variables' as fontVar;
@import "./mixins.scss";


.mainHeader {

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--negPfd);
    font-family: popReg;
    margin-bottom: fontVar.$em4;
    width: 100%;
    height: 120px;

  
    .imgBox {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: fontVar.$em3;

        .logTit {

            .title {
    
                font-size: fontVar.$fs6;
                color: var(--negPfd);
                font-family: popBlack;
                margin: 0px;
                line-height: fontVar.$em3;
              
            }
            p {
                font-size: fontVar.$fs3;
                margin: 0px;
            }

        }


        img {
    
            height: 70px;
            width: auto;
        }
    }

    .butBox {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: fontVar.$em4;

        a {

            all: unset;
            cursor: pointer;
            font-family: popBlack;

            &:hover {
                color: var(--rojOscPfd);
                font-size: fontVar.$fs3;
            }
        }
    }


}
@include mobile {
        
    .mainHeader {

        flex-direction: column;
        width: 100%;
        padding: fontVar.$em3;
        border-bottom: 1px solid var(--rojOscPfd);
        height: 70px;


       .imgBox {

        align-items: start;
        justify-content: start;
        width: 100%;
        gap: fontVar.$em1;

        .logTit {

            .title {
    
                margin: 0px;
                line-height: fontVar.$em3;
            }
            p {
                margin: 0px;
            }

        }


        img {
    
            height: 50px;
            width: auto;
        }

       }

       .butBox {

        display: none;
       }
        
    }
}
 