
@use '_font-variables' as fontVar;
@import "./mixins.scss";

.home {

    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: popMed;
    gap: fontVar.$em6;


    
    .introWrapper {
    
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--negPfd);
    
        .titBox {
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            width: 50%;

            h1 {
                font-size: fontVar.$fs7;
            }

            span {
                font-family: popThin;
            }
        }
    
        .infBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;

            p {
                span {

                    color: var(--rojOscPfd);
                    font-family: popBlack;
                }
            }

            .pfd {
                font-family: popBlack;
                font-size: fontVar.$fs4;
                margin: 0px;

       
            }

            .subPfd {
                font-size: fontVar.$fs3;
                font-family: popReg;

            }
    
        }
    }

    .misionVision {

        .gridMision {

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;
            gap: fontVar.$em5;
            margin-top: fontVar.$em5;

            .misBox {

                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                width: 100%;
                padding: 0px;
                font-size: fontVar.$fs3;
                line-height: fontVar.$em4;
                
                .titBox {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    h3 {
                        
                        font-family: popBlack;
                        font-size: fontVar.$fs4;
                        margin: 0px;
                    }
                }
    
            }
        }
    }

    .ourPortafolio {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .titBox {

            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            width: 100%;

            p {
                font-size: fontVar.$fs4;
                max-width: 350px;
           
            }
        }

        .infBox {

            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            box-sizing: border-box;
       

            .griProBox {
    
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                width: 50%;
                gap: fontVar.$em4;
                
                .griBox {
                    
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
    
               
    
                    h3 {
    
                        font-family: popBlack;
                        font-size: fontVar.$fs5;
                        margin: 0px;
                    }
    
                    ul {
                        list-style: none;
                        list-style-position: outside;
                        padding: 0px;

                        li {
                            font-size: fontVar.$fs4;
                            font-family: popMed;
                            line-height: calc(fontVar.$em3 * 1.2);
                        }
                    }
                }
            }

            .imgBox {

                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
            }


        }



    }


}
