
@use '_font-variables' as fontVar;
@import "./mixins.scss";

.home {

    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: popMed;
    gap: fontVar.$em6;

    .introWrapper {
    
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--negPfd);
        height: calc(100vh - 120px);
    
        .titBox {
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            width: 50%;

            h1 {
                font-size: fontVar.$fs6;
                margin-bottom: fontVar.$em3;
                span {
                    font-family: popThin;
                }
            }

            .pfd {
                font-family: popBlack;
                font-size: fontVar.$fs4;
                margin: 0px;
                max-width: 450px;

                
            }
            
            .subPfd {
                font-size: fontVar.$fs3;
                font-family: popBold;
                max-width: 450px;
                
            }
            
            span {

                color: var(--rojOscPfd);
                font-family: popBlack;
            }
        }
    
        .infBox {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;

            img {

                position: absolute;
                z-index: -1;
                width: 800px;
                height: auto;
                mix-blend-mode: darken;

            }
    
        }
    }

    .misionVision {

        .gridMision {

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;
            gap: fontVar.$em5;
            margin-top: fontVar.$em5;

            .misBox {

                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                width: 100%;
                padding: 0px;
                font-size: fontVar.$fs3;
                line-height: fontVar.$em4;
                
                .titBox {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    h3 {
                        
                        font-family: popBlack;
                        font-size: fontVar.$fs4;
                        margin: 0px;
                    }
                }

        
                    span {

                        font-family: popBlack;
                        color: var(--rojOscPfd);
                    }
              
    
            }
        }
    }

    .ourPortafolio {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .top {

            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;

            .titBox {
    
                display: flex;
                align-items: start;
                justify-content: start;
                flex-direction: column;
                width: 50%;
                border-right: 3px solid black;
    
                p {
                    font-size: fontVar.$fs7;
                    max-width: 600px;
                    margin: 0px;
                    font-family: popReg;
                    line-height: fontVar.$em3;

                    span {

                        color: var(--rojOscPfd);
                    }
               
                }
    
                h2 {
    
                    margin: 0px;
                }
            }
    
            .infBox {
    
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                box-sizing: border-box;
           
    
                .griProBox {
        
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: 50%;
                    gap: fontVar.$em4;
                    
                    .griBox {
                        
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
        
                   
        
                        h3 {
        
                            font-family: popBlack;
                            font-size: fontVar.$fs5;
                            margin: 0px;
                        }
        
                        ul {
                            list-style: none;
                            list-style-position: outside;
                            padding: 0px;
    
                            li {
                                font-size: fontVar.$fs4;
                                font-family: popMed;
                                line-height: calc(fontVar.$em3 * 1.2);
                            }
                        }
                    }
                }
    

    
    
            }

            
        }
        
        .imgBox {

            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 20px;

            img {

                width: auto;
                height: 400px;
                position: relative;
                top: -30px;
            }
        }
    }

    .mainSources {

        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: fontVar.$em6;

        .titBox {

            width: 100%;
            margin-bottom: fontVar.$em6;
        }

        .imgBox {

            display: flex;
            width: 80%;
            margin: auto;

            img {

                width: 100%;
                height: auto;
                mix-blend-mode: darken;
                
            }
        }
    }

    .whyChooseUs {

        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .titBox {
            display: flex;
            width: 100%;
        }

        .griWhyUs {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: fontVar.$em5;
            margin-top: fontVar.$em5;
            
            .griBox {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: fontVar.$em2;

                h3 {

                    font-size: fontVar.$fs5;
                    line-height: fontVar.$em3;
                    font-family: popBlack;
                    margin: 0px;
                    margin-top: fontVar.$em2;
                }

                p {
                    font-size: fontVar.$fs3;

                    span {
                        font-family: popBold;
                        color: var(--rojOscPfd);
                    }
                }

            }
        }

    }


}

@include mobile {


    .home {

        gap: fontVar.$em5;

        .introWrapper {

            flex-direction: column;
            height: auto;

            .titBox {

                width: 100%;
                p {
                    background-color: transparent;
                }
            }

            .infBox {

                overflow: hidden;


                img {

                    display: none;
                }
            }
        }

        .misionVision {

            .gridMision {

                grid-template-columns: 1fr;
            }
        }

        .ourPortafolio {

            .top {

                flex-direction: column;
                gap: fontVar.$em5;

                .titBox {

                    width: 100%;
                    border: none;

                    p {
                        font-size: fontVar.$fs6;
                    }
                }

                .infBox {
    
                    flex-direction: column;
                    width: 100%;
    
                    .griProBox {
    
                        width: 100%;
                        gap: fontVar.$em3;
    
                        .griBox {
    
                            width: 100%;
    
                            ul {
    
                                li {
    
                                    font-size: fontVar.$fs3;
                                    line-height: fontVar.$em4;
                                }
                            }
                        }
                    }
    
                    .imgBox {
    
                        width: 100%;
    
                        img {
    
                            width: 100px;
                            height: auto;
                        }
                    }
                }

            }

            .imgBox {

                display: none;

         
            }

        }

        .mainSources {

            margin-top: 0px;

            .titBox {

                margin-bottom: fontVar.$em4;
            }

            .imgBox {

                width: 100%;
            }
        }

        .whyChooseUs {

            .griWhyUs {

                grid-template-columns: 1fr;
            }
        }
    }
}
